.modalCategoria{

    width: 250px;
    height: 150px;
    padding: 15px;
    border-radius: 8px;
    position: relative;
    margin-top: 5%;
    margin-left: 35%;
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
}

.open{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fechar{
    display: flex;
    justify-content: flex-end;
    color:var(--color-primary);
}
#close{
    cursor: pointer;
}